body {
    margin: 20px;
    font-family: fantasy;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #337def;
    color: #2b2839;
    border-bottom: 6px solid #fcc729;
}

.border-blue {
    border: 1px dotted black;
}
